/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: var(--text-dark);

  &:hover {
    text-decoration: underline;
  }
}

:root {
  font-family: Rubik, sans-serif;
  --color-1: #fff7f0;
  --color-2: #d6e2e9;
  --color-3: #f0efeb;
  --text-dark: #373567;
  --text-muted: rgb(55, 53, 103)
}

body {
  width: 90%;
  margin: auto;
}

.header__top-cotainer {
  width: 100%;
  background-color: #000;
}

.header__top-text {
  padding: 1rem;
  text-align: center;
  color: #fff;
}

.header__nav {
  padding-block: 1rem;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 0%, 0.2);
}

.header__nav-logo-container {
  margin-left: 1rem;
}

.header__nav-links-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__nav-link-minicart {
  padding-right: 1rem;
  display: inline-block;
}

.content-container-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.product__1 {
  grid-column: span 3;
  grid-row: span 1;
}

.product {
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-block: 1rem;
  }

  .producto__info-price {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1rem;
  }
}

.producto__info-bags {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

.bag {
  font-size: 14px;
  padding: 4px 12px;
  border-radius: 12px;
  background-color: #00000008;
  width: fit-content;
}

form {
  /* Centrar el formulario en la página */
  margin: 5em auto;
  width: 400px;
  /* Esquema del formulario */
  padding: 2em;
  border: 3px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Tamaño y alineación uniforme */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* Para asegurar que todos los campos de texto tienen la misma configuración de letra
  Tamaño uniforme del campo de texto */
  width: 300px;
  box-sizing: border-box;

  /* Hacer coincidir los bordes del campo del formulario */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Destacado adicional para elementos que tienen el cursor */
  border-color: #000;
}

textarea {
  /* Alinear los campos de texto multilínea con sus etiquetas */
  vertical-align: top;

  /* Proporcionar espacio para escribir texto */
  height: 5em;
}

.button {
  /* Alinear los botones con los campos de texto */
  padding-left: 90px; /* mismo tamaño que los elementos de la etiqueta */
}

button {
  /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
     entre las etiquetas y sus campos de texto */
  margin-left: 0.5em;
}